body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

.site-layout-background {
  background: #fff;
}

.profile {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #fff;
  margin-left: 8px;
}

.ant-layout-sider {
  background: #fafafa !important;
  border-right: 1px solid #d9d9d9;
}

.ant-menu {
  background: #fafafa !important;
}

.ant-menu-item {
  margin: 0 !important;
  font-size: 14px;
  position: relative;
}

.ant-menu-item-selected {
  background-color: #f1d2cf !important;
  color: #a81f00 !important;
}

.ant-menu-item-selected .anticon,
.ant-menu-item-selected span {
  color: #a81f00 !important;
}

.ant-menu-submenu-title {
  margin: 0 !important;
}

.ant-layout {
  background: #ffffff !important;
}

.ant-btn-primary {
  background-color: #a81f00;
  border-color: #a81f00;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #a81f00;
  border-color: #a81f00;
}

.ant-list-item {
  padding: 16px 0;
  border-bottom: 1px solid #d9d9d9;
}

.ant-list-item-meta-title a {
  color: #000;
  font-size: 16px;
}

.ant-list-item-meta-description {
  color: #8c8c8c;
}

.ant-list-item .ant-list-item-action>li>a {
  color: #a81f00;
}

.ant-list-item .ant-list-item-action>li>a:hover {
  color: #a81f00;
}

.ant-layout-header {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
}

.quick-start-templates {
  padding: 16px;
}

.ant-typography {
  color: #595959;
}

.ant-typography-secondary {
  color: #8c8c8c;
}

.add-task-button {
  width: 93%;
  margin: 10px;
  background-color: #fafafa;
  color: #a81f00;
  border: #fafafa;
  font-size: 15px;
  padding: 0 10px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  box-shadow: none;
}

.add-task-modal .ant-modal-content {
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.add-task-form .ant-form-item {
  margin-bottom: 16px;
}

.task-input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: none;
}

.task-input:focus {
  box-shadow: none;
  border-bottom-color: #a81f00;
}

.description-input {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: none;
}

.description-input:focus {
  box-shadow: none;
  border-bottom-color: #a81f00;
}

.task-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  padding-top: 10px;
  margin-top: 10px;
}

.task-footer-buttons {
  display: flex;
  gap: 10px;
}

.menu-plus-button {
  display: none;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #8c8c8c;
}

.menu-ellipsis-button {
  display: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #8c8c8c;
}

.ant-menu-item:hover .menu-plus-button,
.ant-menu-item:hover .menu-ellipsis-button {
  display: inline;
}

.ant-menu-submenu:hover .ant-menu-submenu-arrow {
  display: inline;
}

.ant-menu-submenu-arrow {
  display: none;
}

.submenu-plus-button {
  display: none;
  border: none;
  left: 70px;
}

.ant-menu-submenu-title:hover .submenu-plus-button {
  display: inline;
}